In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [3]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [4]:
train.head()

,Unnamed: 0,index,id,theta1,theta2,theta3,theta4,theta5,theta6,thetad1,...,da2,da3,da4,da5,db1,db2,db3,db4,db5,target
0,0,6633,6633,1.258655,-0.929410,-0.050415,1.607280,-1.666597,-0.562623,-2.119564,...,1.900982,2.847008,1.694073,2.655953,2.560639,0.539491,1.198796,1.102964,2.200707,-0.260065
1,1,3767,3767,-0.378386,1.898102,0.137376,-2.138864,0.376567,-0.470433,-0.128412,...,2.127900,0.941831,1.008708,2.117702,0.880092,0.536593,1.338949,1.780534,1.236617,-0.204540
2,2,1224,1224,-0.611485,0.900391,-0.263779,0.021346,2.097770,0.952058,0.991799,...,1.815471,0.900659,0.703724,2.219781,2.447250,1.239661,1.288070,2.462066,2.240620,0.559202
3,3,3273,3273,2.217917,1.709197,2.421718,0.363645,2.080355,-0.869141,2.061683,...,2.618496,2.458995,0.537412,2.602852,2.632219,0.755637,2.973980,2.851321,1.028781,-0.342738
4,4,4446,4446,-2.380334,-1.426494,-1.665380,-1.018660,2.080026,3.152886,0.557293,...,1.527161,1.470630,1.060353,0.446626,2.519833,1.992571,1.263569,0.810387,1.646483,-0.703350

In [5]:
test.head()

,Unnamed: 0,index,id,theta1,theta2,theta3,theta4,theta5,theta6,thetad1,...,da1,da2,da3,da4,da5,db1,db2,db3,db4,db5
0,0,2133,2133,2.533249,-0.792764,-2.177767,-1.110612,-1.273932,-0.228057,-1.043535,...,1.290247,1.557358,0.561434,2.746378,2.916253,1.432392,-0.040619,2.225802,2.418217,1.705286
1,1,6389,6389,-1.157607,0.815686,2.410577,-0.321521,-0.579014,-1.047877,1.708049,...,1.816308,2.367484,2.088922,1.402735,1.889066,1.351893,2.437513,2.875317,2.363191,1.400312
2,2,4496,4496,0.817617,1.775667,-1.579402,-0.943133,0.571878,-1.158937,1.794551,...,1.401952,1.392231,0.432919,1.921923,1.573775,1.104550,1.097384,1.959356,0.114303,2.600579
3,3,2400,2400,1.942009,2.897571,-0.833998,-0.868103,-0.747734,2.151514,-0.450202,...,1.994579,1.729033,2.381447,2.300106,0.014986,2.641325,1.581736,0.960167,1.542038,1.231497
4,4,4519,4519,-0.691687,0.389034,-0.573441,-0.652371,0.645799,0.078332,-1.618586,...,1.341282,1.774178,1.969909,0.879087,1.592115,2.701025,1.652432,0.397457,1.933247,1.084829

In [6]:
x_train=train.iloc[:,3:35]
y_train=train.iloc[:,35]
x_test=test.iloc[:,3:35]
y_test=test.iloc[:,[2]]

In [7]:
from sklearn.preprocessing import StandardScaler
sk=StandardScaler()
x1=sk.fit_transform(x_train)
y1=sk.fit_transform(x_test)

In [8]:
model_svr=SVR(kernel='rbf')
model_rfr=RandomForestRegressor(n_estimators=55)

In [9]:
model_svr.fit(x_train,y_train)
model_rfr.fit(x_train,y_train)

C:\Users\GOUTHAM\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=55,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [10]:
check=model_svr.predict(x_train)
check2=model_rfr.predict(x_train)

In [11]:
mean_squared_error(y_train,check)

0.011292342828404203

In [12]:
mean_squared_error(y_train,check2)

0.03631911786901845

In [13]:
x=model_rfr.predict(x_test)

In [14]:
y_test['target']=x

C:\Users\GOUTHAM\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
y_test.to_csv('finalresult_rfr.csv')